<div>

    <!-- ----------- CATALOG ----------- -->
    <button class="btn btn-outline" (click)="catalog()">Catalog</button>

    <clr-tree>
      <clr-tree-node *ngFor="let dataset of namedDatasetService.namedDatasets" [clrExpanded]="false">
        {{dataset.datasetName.name}}
        <clr-tree-node *ngFor="let field of dataset.schema.fields" >
          {{field.name}} - {{field.type}}
          <clr-tree-node *ngFor="let innerField of field.innerFields" >
            {{innerField.name}} - {{innerField.type}}
            <clr-tree-node *ngFor="let innerInnerField of innerField.innerFields" >{{innerInnerField.name}}</clr-tree-node>
          </clr-tree-node>
        </clr-tree-node>
      </clr-tree-node>
    </clr-tree>

    <!-- ----------- LOAD DATASET ----------- -->
    <input clrInput placeholder="Name" value="sample_2_json" #loadName />
    <input clrInput placeholder="URI" value="data\sample_2.json" #uri />
    <input clrInput placeholder="Base path" #basePath />
    <button class="btn btn-outline" (click)="load({requestedName: loadName.value, uri: uri.value, basePath: basePath.value})">Add dataset</button>

    <!-- ----------- UNLOAD DATASET ----------- -->
    <input clrInput placeholder="Name" #unloadName />
    <button class="btn btn-outline" (click)="unload({name: unloadName.value})">Delete dataset</button>

</div>