
.flex-container {
    display: flex;
}

.flex-child-small {
    flex: 30%;
    border: 2px solid black;
}

.flex-child-large {
    flex: 70%;
    border: 2px solid black;
} 

.flex-child:first-child {
    margin-right: 20px;
} 