
<div>
  
  <button class="btn btn-outline" (click)="catalog()">Catalog</button>

  <clr-tree>
    <clr-tree-node *ngFor="let dataset of namedDatasets" [clrExpanded]="false">
      {{dataset.datasetName.name}}
      <clr-tree-node *ngFor="let field of dataset.schema.fields" >
        {{field.name}} - {{field.type}}
        <clr-tree-node *ngFor="let innerField of field.innerFields" >
          {{innerField.name}} - {{innerField.type}}
        </clr-tree-node>
      </clr-tree-node>
    </clr-tree-node>
  </clr-tree>
</div>

<div>
  
  <input clrInput placeholder="Name" #requestedName />
  <input clrInput placeholder="URI" #uri />
  <input clrInput placeholder="Base path" #basePath />
  
  <button class="btn btn-outline" (click)="load({requestedName: requestedName.value, uri: uri.value, basePath: basePath.value})">Add dataset</button>  
    
</div>

<div>

  <input clrInput placeholder="Name" #deleteName />

  <button class="btn btn-outline" (click)="unload({name: deleteName.value})">Delete dataset</button>

</div>